# server
/node_modules
.env
server/exercises/sql/database/*

# frontend
/frontend/.DS_Store
/frontend/node_modules

# local env files
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*